body{
    font:15px/1.5 Arial, Helvetica;
    padding: 0;
    background-color: #f1faee;
}

/*Global*/

html {
  scroll-behavior: smooth;
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

hr {
    width:100%;
    height:1px;
    background: #fff
    align:bottom;
    display:block
    }

#top {
  position: fixed; /* Fixed/sticky position */
  bottom: 10px; /* Place the button at the bottom of the page */
  right: 5px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: 2px solid #f28e02; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #f1faee; /* Set a background color */
  color: #1d3557; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 12px; /* Increase font size */
}

#home:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/*Header*/

#top-navigation .current a{
    color:#1d3557;
    font-weight:bold;
}

#top-navigation {
    text-align:center;
}

#top-navigation h1 {
    display:inline;
    list-style-type:none;
    padding:0 10px 0 10px;
    font-size:16px;
    font-weight:normal;
    text-transform: uppercase;
}


#top-navigation a{
    text-decoration:none;
    color:#457b9d;
}

#top-navigation a:hover{
     color: #1d3557;
     font-weight:bold;
}

/*Showcase*/


#imgme .me{
    border-radius: 50%;
    height:40%;
    width:40%;
    float:right;
    padding:20px;
}

#nameme h1{
    font-size:20px;
    padding-top:15%;
    padding-left:10%;
    color:#f28e02;
}

#nameme p{
    font-size:20px;
    padding-left:10%;
    font-family:monserat;
    color:#1d3557;
}

/*about*/
#about h1{
    text-align:center;
    color:#f28e02;
    overflow:hidden;
    margin-top:10%;
}
.par{
    float:center;
    width:100%;
    text-align:justify;
    text-justify:inner-word;
    padding:0px;
    overflow:hidden;
    color:#457b9d;
}

/*Boxes*/

#skill{
    float:center;
    overflow:hidden;
    margin-top:10%;
}

#skill h1{
    text-align:center;
    color:#f28e02;
}

#skill .box{
    float:left;
    width:33%;
    text-align:center;
    padding:0px;
    color:#1d3557;
    font-size:12px;
    margin-top:10px;
}

/*Work Experience*/
#professional{
    margin-top:10%;
}

#professional h1{
    text-align:center;
    color:#f28e02;
    top:20px;
    padding:20px;
}

.working{
    float:center;
    text-align:center;
}
.working h2, .working h3{
    font-size:15px;
    color:#1d3557;
}

.working p{
    text-align:justify;
    text-justify:inner-word;
    color:#457b9d;
}
img.resize{
    max-width:15%;
    max-height:15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img.resize1{
    max-width:8%;
    max-height:8%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*Education*/
#education{
    margin-top:10%;
}

#education h1{
    text-align:center;
    color:#f28e02;
    overflow:hidden;
}
.school{
    float:center;
    text-align:center;
    padding:5px;
    margin:5px;
    margin-top:20px;
}
.school h2,.school h3{
    font-size:15px;
    color:#1d3557;

}

.school h4, .school p{
    font-size:13px;
    color:#457b9d;
}

img.resize1{
    max-width:10%;
    max-height:10%;

}
img.resize2{
    max-width:20%;
    max-height:10%;
}
img.resize3{
    max-width:30%;
    max-height:20%;
}

/*Languages*/

#lang{
    margin-top:10%;
}
#lang h1{
    text-align:center;
    color:#f28e02;
}
.box h3{
    margin-bottom:0;
}
.box p{
    margin-top:0;
}

#lang .box{
    float:left;
    width:50%;
    text-align:center;
    color:#1d3557;

}

/*Projects*/
#projects{
    margin-top:10%;
}

.projects p{
    text-align:justify;
    text-justify:inner-word;
}

#wait {
    padding:20px;
    text-align:center;
    display:inline;
}

#wait h1{
    color:#f28e02;
}

#wait h2{
    font-size:15px;
    color:#1d3557;
}

#wait p{
    color:#457b9d;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #e8491d; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin:auto;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.service{
    padding:20px;
}

.service span{
    width:99%;
}
.service p{
    font-size:15px;
    text-align:center;
    text-align:justify;
    text-justify:inner-word;
    color:#457b9d;
}

.service h3{
    color:#1d3557;
    text-align:center;
}
.service p a{
    color:#457b9d;
}

/*Form*/
.contact{
    width:300px;;
    margin:auto;
    overflow:hidden;
}

.contact h2{
    color:#1d3557;
    text-align:center;
}

#contactform{
    text-align:center;
    background-color:#457b9d;
    color:#f28e02;
    padding:10px;
    border-radius:10px;
}
#button{
    background-color:#457b9d;
    color:#f28e02;
    border-radius: 10%;
    border-color:#f28e02;
    text-align:center;
    cursor:pointer;
}

/*Content Page*/
.article{
    margin-top:40px;
    border:#1d3557 2px solid;
    padding:20px;
    margin-bottom:40px;
}

.article h3 a{
    margin-top:40px;
    color:#f28e02;
    font-weight:normal;
    text-transform: uppercase;
    text-decoration:none;
}
.article p, .article p a{
    color:#457b9d;
}

.article p a:hover{
    color:#1d3557;
    font-weight:bold;
}
.article h3 a:hover{
    font-weight:bold;
}

/*Article 1*/
.article1 h3{
    margin-top:40px;
    color:#1d3557;
}

.article1 p{
    font-size:15px;
    text-align:center;
    text-align:justify;
    text-justify:inner-word;
    color:#457b9d;
}

.article1 p a{
    font-size:15px;
    text-align:center;
    text-align:justify;
    text-justify:inner-word;
    color:#457b9d;
}

.article1 .resize4{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.article1 #download{
    color:#457b9d;
}

/*Article2*/
.article1 .resize5{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.article1 .resize6{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.article1 li, .article1 li a{
    font-size:15px;
    color:#457b9d;
}

.article1 li{
    margin-left:30px;
}


#page-navigation .current a{
    color:#1d3557;
    font-weight:bold;
}

#page-navigation {
    text-align:center;
}

#page-navigation h1 {
    display:inline;
    list-style-type:none;
    padding:0 10px 0 10px;
    font-size:16px;
    font-weight:normal;
    text-transform: uppercase;
}


#page-navigation a{
    text-decoration:none;
    color:#457b9d;
}

#page-navigation a:hover{
     color: #1d3557;
     font-weight:bold;
}

/*Article3*/
.article1 .resize7{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


/*Footer*/

footer {
    padding:20px;
    margin-top:20px;
    background:#1d3557;
    color:#f28e02;
    border-bottom:#f28e02 3px solid;
    text-align:center;
}

/*Bottom Navigation*/
#bot-navigation .current a{
    color:#f28e02;
    font-weight:bold;
}

#bot-navigation {
    padding-top:10px;
    text-align:center;
}

#bot-navigation h1 {
    display:inline;
    list-style-type:none;
    padding:0 10px 0 10px;
    font-size:16px;
    font-weight:normal;
}


#bot-navigation a{
    text-decoration:none;
    color:#f28e02;
}

#bot-navigation a:hover{
     color: #f28e02;
     font-weight:bold;
}

.contact a, a:hover, a:active, a:visited { color: white; }
.contact a{
    display:inline;
    font-size:10px;
    color:69A5FC;
}
.socialIcons{
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
.icons{
  position: relative;
  display: inline;
  margin-right: 0 auto;
  margin-left: 0 auto;
}

.socialIcons:hover {
  opacity:5;
}

#share-buttons a{
    text-decoration:none;
}

#share-buttons img {
    width: 20px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}