# mod_rewrite starts here

RewriteEngine on

# does not apply to existing directories, meaning that if the folder exists on the server then don't change anything and don't run the Rule

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
# Check for file in directory with .html extension

RewriteCond %{REQUEST_FILENAME}\.html -f


# Here we actually show the page that has the .html extension

RewriteRule ^(.*)\.html$ /$1 [L,R=301]

RewriteRule ^(.*) content/articles/wunderground_scraper_original/wunderground_scraper=$1 [QSA,L]
RewriteRule ^(.*) content/pages/content=$1 [QSA,L]
RewriteRule ^(.*) content/articles/free_web_hosting/free_web_hosting=$1 [QSA,L]