RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
# Check for file in directory with .html extension



RewriteRule ^(.*) content/articles/wunderground_scraper_original/$1 [QSA,L]
RewriteRule ^(.*) content/pages/$1 [QSA,L]
RewriteRule ^(.*) content/articles/free_web_hosting/$1 [QSA,L]